## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [2]:
import pandas as pd

df = pd.read_csv('../weather-raw.csv')

In [5]:
missing_values_count = df.isnull().sum()
print(missing_values_count)

id          0
year        0
month       0
element     0
d1         20
d2         18
d3         18
d4         20
d5         14
d6         20
d7         20
d8         20
d9         22
d10        20
d11        20
d12        22
d13        20
d14        18
d15        20
d16        20
d17        20
d18        22
d19        22
d20        22
d21        22
d22        22
d23        18
d24        22
d25        20
d26        20
d27        16
d28        20
d29        18
d30        20
d31        20
dtype: int64

In [33]:
wdf = df.drop(columns=["id","year"])
wdf

,month,element,d1,d2,d3,d4,d5,d6,d7,d8,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,NaN,29.0,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,NaN,17.3,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,28.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,12.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
tmax = wdf[wdf["element"] == "tmax"]
tmin = wdf[wdf["element"] == "tmin"]
tmax
tmin

,month,element,d1,d2,d3,d4,d5,d6,d7,d8,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
1,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
3,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
9,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
11,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
13,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,NaN,17.3,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
17,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,12.9,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
19,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
21,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
tmax["meanMa"]= tmax.loc[:, tmax.columns != 'month'].mean(axis=1,skipna=True)
tmax["minMa"]= tmax.loc[:, tmax.columns != 'month'].min(axis=1,skipna=True)
tmax["maxMa"]= tmax.loc[:, tmax.columns != 'month'].max(axis=1,skipna=True)
tmin["meanM"]= tmin.loc[:, tmin.columns != 'month'].mean(axis=1,skipna=True)
tmin["minM"]= tmin.loc[:, tmin.columns != 'month'].min(axis=1,skipna=True)
tmin["maxM"]= tmin.loc[:, tmin.columns != 'month'].max(axis=1,skipna=True)

C:\Users\traba\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\traba\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\traba\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\traba\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\traba\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\traba\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [41]:
tmax = tmax[['month','meanMa','minMa','maxMa']]
tmin = tmin[['month','meanM','minM','maxM']]

In [44]:
el_tiempo = pd.merge(tmax,tmin, on="month")

In [45]:
el_tiempo

    month     meanMa  minMa  maxMa      meanM  minM  maxM
0       1  27.800000   27.8   27.8  14.500000  14.5  14.5
1       2  27.750000   24.1   29.9  13.225000  10.7  14.4
2       3  32.566667   31.1   34.5  16.200000  14.2  17.6
3       4  36.300000   36.3   36.3  16.700000  16.7  16.7
4       5  33.200000   33.2   33.2  18.200000  18.2  18.2
5       6  29.050000   28.0   30.1  17.750000  17.5  18.0
6       7  29.250000   28.6   29.9  17.000000  16.5  17.5
7       8  28.271429   25.4   29.8  15.842857  15.0  17.3
8      10  28.900000   27.0   31.2  13.080000  10.5  15.0
9      11  28.120000   26.3   31.3  12.500000   7.9  16.3
10     12  28.850000   27.8   29.9  12.150000  10.5  13.8